body {
    font-family: fantasy;
    background-color: rgb(194, 190, 190);
}

h1 {
    color: blue;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

th {
    font-weight: bold;
    background-color: deeppink;
}

td {
    background-color: indigo;
    color: white;
}

table, th, td {
    border: 1px solid black;
  }

table {
    border-collapse: collapse;
  } 